
html, body  {
    height:100%;
}
body {
    margin:0; padding:0; overflow:auto; text-align:center;
    background-color: #ffffff;
}
object:focus {
    outline:none;
}
#flashContent {
    display:none;
}